.background-general {
  height: 58.2rem;
  width: 120rem;
  background-color: #2a1b3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-modal {
  background-color: white;
  max-width: 70%;
  max-height: 95%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.header-tittle {
  margin: 1.5rem;
  font-size: 2.375rem;
  text-align: center;
}

@media(min-width: 1280px) and (max-width: 1360px) {
  .background-general {
    height: 48.75rem;
    width: 80rem;
  }
}
@media(min-width: 1366px) and (max-width: 1440px){
  .background-general {
    height: 48.75rem;
    width: 85.375rem;
  }
}
